/* gearAnimation.module.css */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  to {
    transform: rotate(-360deg);
  }
}

.gearSpin {
  animation: spin 6s linear infinite;
}

.gearSpinReverse {
  animation: spin-reverse 7s linear infinite;
}
